body {
    padding: 0;
    margin: 0;
    font-family: Arial, '微软雅黑', '宋体', sans-serif;
    font-size: 1em;
    height: 100%;
    width: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow: auto;
}

.bottom-nav {
    position: fixed;
    border-top: 1px solid #ccc;
    height: 46px;
    width: 100%;
    bottom: 0;
    background: #fff;
    color: #bbb !important;
}
.bottom-nav a{
    color: #bbb !important;
}

.bottom-nav .nav-item {
    width: 20%;
    margin: 0 2.5%;
    height: inherit;
    float: left;
    cursor: hand;
}

.bottom-nav .nav-item .icon {
    height: 60%;
    text-align: center;
    font-size: 1.5em;
    padding-top: 4px;
}

.bottom-nav .nav-item .title {
    height: 40%;
    text-align: center;
    font-size: 0.5em;
}

.bottom-nav .active {
    color: green !important;
}

.text-center {
    text-align: center
}

.clear {
    clear: both
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.green {
    color: green;
}

.mb-10 {
    margin-bottom: 10px
}

.mb-5 {
    margin-bottom: 5px
}

.ml-5 {
    margin-left: 5px
}

.mr-5 {
    margin-right: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-5 {
    margin-top: 5px
}

.col-3 {
    width: calc(25% - 3px);
    float: left;
}

.col-4 {
    width: calc(33.3% - 2px);
    float: left;
}

.col-2 {
    width: calc(50% - 1px);
    float: left;
}
