body {
    padding: 0;
    margin: 0;
    font-family: Arial, '微软雅黑', '宋体', sans-serif;
    font-size: 1em;
    height: 100%;
}

.container {
    width: 100%;
    overflow: auto;
}

.bottom-nav {
    position: fixed;
    border: 1px solid #ccc;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: #fff;
    color: #bbb;
}

.bottom-nav .nav-item {
    width: 20%;
    margin: 0 2.5%;
    height: inherit;
    float: left;
    cursor: hand;
}

.bottom-nav .nav-item .icon {
    height: 65%;
    text-align: center;
    font-size: 3em;
    padding-top: 2px;
}
.bottom-nav .nav-item .title {
    height: 35%;
    text-align: center;

}

.bottom-nav .active {
    color: green;
}