.list {
}

.list-item {
    border: 1px solid #000;
    width: 45%;
    margin: 0 2.5%;
    margin-top: 8px;
    float: left;
    height: 180px;
}
.list-item a{
    text-decoration:none;
}
.list-item .logo {
    height: 75%;
    overflow: hidden;
    background: #fff;
}

.list-item .logo img {
    width: 100%;
    height: 100%;
}

.list-item .title {
    padding: 0 4%;
    height: 25%;
    font-size: 0.8em;
}
.list-item .title .name {
    padding-top: 2%;
    height: 50%;
}
.list-item .title .other {
    height: 50%;
}

.list-item .title .other .price {
    color: red;
    float: left;
}

.list-item .title .other .detail {
    color: green;
    border: 1px solid green;
    padding: 0 2%;
    float: right;
    margin-top:-2%;
    border-radius: 10px;
}